body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DA291C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modale{
  background-color: rgb(187, 182, 182);
  width: 25rem;
  height: 8rem;
  border-radius: 1rem;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: xx-large;
  background-image: linear-gradient(#ca9dcc,#70b89b);
  text-align: center;
  color: green;
  right: 35%;
  top: -25%;
  animation: modale 3s 1;
  animation-delay: 0s;
  animation-fill-mode:forwards;
}
@keyframes modale{
  0%{top: -20%;}
  30%{top: 25%;}
  40%{top: 25%;}
  50%{top: 25%;}
  60%{top: 25%;}
  70%{top: 25%;}
  80%{top: 25%;}
  90%{top: 25%;}
  100%{top: -25%;display: none;}
}
